/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: gothmmed;
  src: url(/Users/jeremy.ott/Sites/masthead-updates/css/fonts/gothmmed-webfont.woff);
   }
 @font-face {
   font-family: gothmult;
   src: url(/Users/jeremy.ott/Sites/masthead-updates/css/fonts/gothmult-webfont.woff);
    }
  @font-face {
    font-family: gothmlig;
    src: url(/Users/jeremy.ott/Sites/masthead-updates/css/fonts/gothmlig-webfont.woff);
     }
   @font-face {
     font-family: gothmbol;
     src: url(/Users/jeremy.ott/Sites/masthead-updates/css/fonts/gothmbol-webfont.woff);
      }
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
  font-family: gothmlig !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
header {
  min-height: 650px;
  background-image: url("/Users/jeremy.ott/Sites/masthead-updates/img/people_mac1.png");
  background-size: cover;
}
nav {
  background-color: #ffffff;
  min-height: 90px;
}
p {
  margin: 15px 0;
}
.logo img {
  max-height: 50px;
  display: inline-block;
}
.logo {
  display: inline-block;
  padding: 20px 25px;
  text-align: center;
}

ul, nav ul li {
  display: inline-block;
}
nav ul li {
  padding: 0 25px;
  min-height: 60px;
}
ul {
  padding-top: 10px;
}
.col-md-6 ul {
  margin-bottom: 0px !important;
}
.product-drop ul {
    padding-left:10px;
  }
.ctas, .ctas a {
  display: inline-block;
}
.ctas a {
  padding: 7px 25px;
}
.ctas, .menu {
  padding: 30px 0px;
  font-family: gothmmed;
}
.menu {
  padding: 30px 0px 0px 0px;
}
.button-orange {
    border-radius: 3px;
    cursor: pointer;
    outline: 0 none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all .3s ease-in-out 0s;
    vertical-align: baseline;
    word-break: normal;
    background: #f96d2b none repeat scroll 0 0;
    border: solid 1px  #f96d2b;
    color: #fff;
}
.button-blue {
    border-radius: 3px;
    cursor: pointer;
    outline: 0 none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all .3s ease-in-out 0s;
    vertical-align: baseline;
    word-break: normal;
    background: #009bdf none repeat scroll 0 0;
    border: solid 1px  #009bdf;
    color: #fff;
    display: inline-block;
}
.button-trans {
  word-break: normal;
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    transition: all ease-in-out .3s;
    text-shadow: none;
    border: solid 1px #333;
    color:#333;
}
.button-trans-white {
  word-break: normal;
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    transition: all ease-in-out .3s;
    text-shadow: none;
    border: solid 1px #ffffff;
    color:#ffffff;
}
.product-drop {
  background-color: #fff;
  width: 700px;
  height: 428px;
  position: absolute;
  left: 15%;
  margin-top: 70px;
  z-index: -99;

}
.product-drop li {
  list-style: none;
}
span.desc {
  font-size: 10px;
  line-height: 1;
}
li.title {
  border-bottom: solid 1px #009bdf;
  padding-top: 10px;
}
ul.role li {
}
.hide {display: none;}

.box {
  background-color: rgba(0, 155, 223, .8);
  min-height:200px;
  position: relative;
  text-align: center;
  color: #fff;
  line-height: 2;
}
.box.middle{
  background-color: rgba(0, 155, 223, .9);
  min-height:250px;
  position: relative;
  text-align: center;
  color: #fff;
  line-height: 2;
}
.box.left{
  background-color: rgba(0, 155, 223, .9);
  position: relative;
  text-align: center;
  color: #fff;
  line-height: 2;
}
.box-container{
      margin-top: 27%;
}
.box-container.three{
      margin-top: 22%;
}
h2 {
  font-family: 'gothmmed' sans-serif;
  font-size: 28px;
}
.role-list {
  padding: 6px 0;
}
.main {
  padding: 100px 0px;
}
.center {
  text-align: center;
}
main .row {
  margin-right: 0px;
  margin-left: 0px;
}
.testimonial {
  color: #fff;
  background: url("http://1agb93314bcf1knhv22id9u9.wpengine.netdna-cdn.com/wp-content/uploads/2016/09/blur-background-blue-tint.jpg");
}

.nav.row {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 9999;
  box-shadow: 0px 2px 5px #999;
}
.product-drop ul li {
  display: block !important;
  padding: 2px 5px !important;
  min-height: 0px !important;
}

.product-drop .col-md-7 {
  margin-top: 25px;
}
.product-drop .col-md-5 {
  margin-top: 25px;
}
.product-drop .col-md-5 ul {
  padding-left: 0px;
}

@media only screen and (min-width: 1450px) {
nav ul li {
  padding: 0 50px !important;
}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #009bdf;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: #fff;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #eaeaea;
    text-decoration: none;
    cursor: pointer;
}
input {
  color: #999;
  border: none;
}

.product-drop .products ul li:hover{
  background: #009bdf !important;
  color: #fff;
}
.product-drop .products ul li.title:hover{
  background: #fff !important;
  color: inherit;
}
a {
  text-decoration: none !important;
}
